/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --h1-color-text: #DB00FF;
  --article-text-color: #F1B2CE;
  --header-menu-color: #FF0070;
  --subtitle-text-color: #000028;
  --subtitle-section-color: #FF0070;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
