/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-inline-size: 375px;
  max-inline-size: 1440px;
  font-weight: normal;
  font-size: var(--default-font-size);
  font-family: 'IBM Plex mono', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


picture {
  margin: 0;
  padding: 0;
}

button,
a {
  border: none;
  background-color: transparent;
  color: currentColor;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: lowercase;
}

a:focus, button:focus {
  outline: none;
}

a {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

a:hover {
  border-block-end: 2px solid var(--article-text-color);
}

a:focus-visible {
  border: 1px solid var(--article-text-color);
}

button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
}

button:hover {
  border: 1px solid rgb(from var(--header-menu-color) R G B / 0.4);
}

button:focus-visible {
  border-block-end: 1px solid var(--header-menu-color);
}

h2 {
  color: var(--h1-color-text);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.rec-label {
  display: flex;
  position: absolute;
  top: var(--rec-top);
  right: var(--rec-right);
  align-items: center;
  gap: 10px;
}

.rec-label::before {
  content: "REC";
  color: var(--accent-color);
}

.rec-label::after {
  display: block;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  content: '';
}

.decorated-zone::after,
.decorated-zone::before {
  position: absolute;
  border: 1px solid var(--header-menu-color);
  inline-size: 25px;
  block-size: 25px;
  content: '';
}

.decorated-zone::before {
  top: var(--main-padding);
  right: var(--main-padding);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--main-padding);
  left: var(--main-padding);
  border-top: none;
  border-right: none;
}