/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-size: var(--default-font-size);
  line-height: 130%;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: var(--max-device-height);
}

.header__theme-menu {
  justify-self: end;
  color: var(--header-menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap);
}

.header-title {
  justify-self: start;
  color: var(--h1-color-text);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-menu-color);
  pointer-events: none;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--header-section-gap);
  padding: var(--main-padding);
}

.science {
  display: flex;
  flex-direction: column;
  gap: var(--article-gap);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  margin-block: var(--content-margin);
}

.content-subtitle {
  color: var(--subtitle-section-color);
  font-size: var(--default-font-size);
}

.content__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--artice-gap);
}

.content__list-item {
  display: flex;
  flex-direction: column;
  gap: var(--header-article-gap);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-text-color);
  font-weight: bold;
  font-size: var(--default-font-size);
  line-height: 130%;
}

.header .title-decor {
  margin-block-end: 0;
}

.subtitle {
  color: var(--accent-color);
  font-weight: bold;
}

.text-decor {
  color: var(--article-text-color);
}

.grid-container .content__list {
  gap: var(--grid-gap);
}

.advices-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.advices > .title-decor {
  margin-block-end: 18px;
}

.title-decor.advice-subtitle {
  font-weight: normal;
}

section.gallery {
  gap: var(--gallery-gap);
}

.gallery ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap);
}

.gallery img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  block-size: 100vh;
  min-block-size: var(--max-device-height);
}

.footer h2 {
  color: var(--h1-color-text);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 2px 2px 0px var(--accent-color);

}

/* ------------------------------------------------------------------------------------- */

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --header-margin: 40px;
    --section-gap: 40px;
    --gallery-gap: 20px;
    --content-margin: 40px;

    --rec-top: 21px;
    --rec-right: 30px;
  }

  .header-title {
    margin-left: calc(0px - var(--main-padding));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title-decor {
    inline-size: 50%;
  }

  .causes .content-subtitle {
    inline-size: 30%;
  }

  /* .why, .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--header-section-gap);
  } */

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--header-section-gap);
  }

  .causes.content-section {
    grid-template-columns: 1fr;
    gap: var(--header-section-gap);
  }
  
  section.gallery {
    gap: var(--artice-gap);
  }

  .gallery ul {
    display: grid;
    grid-template-rows: 25vw auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--artice-gap);
  }

  .gallery li:nth-child(1) {
    grid-area: var(--gallery-grid-1);
  }
  .gallery li:nth-child(2) {
    grid-area: var(--gallery-grid-2);
  }
  .gallery li:nth-child(3) {
    grid-area: var(--gallery-grid-3);
  }
  .gallery li:nth-child(4) {
    grid-area: var(--gallery-grid-4);
  }
  .gallery li:nth-child(5) {
    grid-area: var(--gallery-grid-5);
  }

  .footer {
    margin-block-start: 0;
  }

  .footer h2 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* ------------------------------------------------------------------------------------- */

@media (width >= 1024px) {
  :root {
    --rec-top: 21px;
    --rec-right: 29px;
    --max-device-height: 768px;
    --header-section-gap: 20px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  /* .why, .advices {
    gap: var(--special-grid-gap);
  } */

  .content-section {
    gap: var(--special-grid-gap);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header .title-decor {
    inline-size: 50%;
  }

  .causes .content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery ul {
    grid-template-rows: 25.5vw auto 1fr;
  }
}