/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --rec-top: 11px;
  --rec-right: 19px;

  --max-device-height: 668px;
  --default-font-size: 18px;
  --main-padding: 10px;

  --menu-gap: 10px;               /* Для меню в шапке */
  --content-margin: 30px;         /* Для основного контента */
  --section-gap: 30px;            /* Между секций */
  --header-section-gap: 20px;     /* Между Названием секции и самой секции */
  --artice-gap: 20px;             /* Между статьями в секции */
  --header-article-gap: 10px;     /* Между заголовком статьи и текстом */
  --advice-gap: 18px;             /* Для двух заголовков в секции advice */
  --gallery-gap: 10px;            /* Для галереи */
  --special-grid-gap: 10px;

  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --h1-color-text: #DB00FF;
  --article-text-color: #F1B2CE;
  --header-menu-color: #FF0070;
  --subtitle-text-color: #000028;
  --subtitle-section-color: #FF0070;

  --gallery-grid-1: 1 / 1 / 2 / 3;
  --gallery-grid-2: 1 / 3 / 3 / 4;
  --gallery-grid-3: 2 / 1 / 4 / 2;
  --gallery-grid-4: 2 / 2 / 3 / 3;
  --gallery-grid-5: 3 / 2 / 4 / 4;
}